<!-- <p>tipos-imagen works!</p> -->
<div>
    <h1>Tipos Imagen</h1>
    
    <div id="main-container">
    <div id="agregarnuevo">
        <!-- <a href="/agregareditartipoimagen">Agregar Nuevo</a> -->
        <a (click)="addEditTImagen()" >Agregar Nuevo</a>
    </div>
    <table class="table">
    
        <thead>
            <tr>
                <th>ID</th>
                <th>NOMBRE</th>
                <th>ACCIONES</th>	
            </tr>
        </thead>
        
        <tbody>
            @for (item of tiposImagenList; track $index) {
            <tr>
                <td data-label="ID">{{item.id}}</td>
                <td data-label="NOMBRE">{{item.nombre}}</td>            
                <td data-label="ACCIONES">
                    <div id="contenedorlinks">
                    <div id="editar">
                        <a href="">Editar</a>
                    </div>
                    <div id="eliminar">
                        <a href="">Eliminar</a>
                    </div>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
    </div>
    </div>