<div>
  <h1>Caras</h1>

  <div id="main-container">
    <!-- <div id="agregarnuevo">
      <a (click)="AgregarEditar()">Agregar Nuevo</a>
    </div> -->
    <table class="table">

      <thead>
        <tr>
          <th>ID</th>
          <th>NOMBRE</th>
          <th>DESCRIPCION</th>
          <th>ESTADO</th>
          <th>DIENTE_id</th>
        </tr>
      </thead>

      <tbody>
        @for (item of CarasList; track $index) {
        <tr>
          <td data-label="ID">{{item.id}}</td>
          <td data-label="NOMBRE">{{item.nombre}}</td>
          <td data-label="DESCRIPCION">{{item.descripcion}}</td>
          <td data-label="ESTADO">{{item.estado}}</td>
          <td data-label="DIENTE_id">{{item.diente}}</td>
          <td data-label="ACCIONES">
            <div id="contenedorlinks">
              <div id="editar">
                <a (click)="Editar(item.id)">Editar</a>
              </div>
              <div id="eliminar">
                <a (click)="deleteCara(item)">Eliminar</a>
              </div>
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>