
<div>
  <h1>Dientes</h1>

  <div id="main-container">
    <!-- <div id="agregarnuevo">
      <a (click)="AgregarEditar()">Agregar Nuevo</a>
    </div> -->
    <table class="table">

      <thead>
        <tr>
          <th>ID</th>
          <th>CODIGO</th>
          <th>DESCRIPCION</th>
          <th>ESTADO</th>
          <th>ACCIONES</th>
        </tr>
      </thead>

      <tbody>
        @for (item of DientesList; track $index) {
        <tr>
          <td data-label="ID">{{item.id}}</td>
          <td data-label="CODIGO">{{item.codigo}}</td>
          <td data-label="DESCRIPCION">{{item.descripcion}}</td>
          <td data-label="ESTADO">{{item.estado}}</td>
          <td data-label="ACCIONES">
            <div id="contenedorlinks">
              <div id="editar">
                <!-- <a (click)="VerCaras(item.id)">Caras</a> -->
                <a [routerLink]="['/caras',item.id]">Ver</a>
              </div>
              <div id="editar">
                <a (click)="agregarEditar(item.id)">Editar</a>
              </div>
              <div id="eliminar">
                <a  (click)="deleteDiente(item)">Eliminar</a>
              </div>
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>