<body>
  <header class="header">

  <div class="logo">{{ title }}</div>
  <input type="checkbox" id="toggle"> <label for="toggle">
    <div class="logo">Menu</div>
  </label>

  <nav class="navigation">

    <ul>
      <li><a href="/home">Inicio</a></li>
      <li><a href="#">Turno</a></li>
      <li><a href="#">A B M Cs</a>
        <ul>
          <li><a href="#">Turno</a>
            <ul>
              <li><a href="#">Alta</a></li>
              <li><a href="#">Turnos y Pacientes</a></li>
              
            </ul>
          </li>
          <li><a href="#">Paciente</a>
            <ul>
              <li><a href="#">Alta</a></li>
              <li><a routerLink="/paciente">Personas</a></li>

            </ul></li>
          <li><a routerLink="/odontograma">Odontogramas</a></li>
          <li><a href="#">Tipos Imagen</a>
            <ul>
              <li><a href="#">Alta</a></li>
              <li><a routerLink="/tipos-imagen">Tipos</a></li>

            </ul></li>
          <li><a href="#">Imagen</a>
            <ul>
              <li><a href="#">Alta</a></li>
              <li><a routerLink="/imagen">Imagenes</a></li>
            </ul></li>
          <li><a href="#">Tipo Antecedente</a>
            <ul>
              <li><a href="#">Alta</a></li>
              <li><a routerLink="/tipo-antecedente">Tipos Antecedente</a></li>
            </ul>
          </li>
          <li><a href="#">Antecedente</a>
            <ul>
              <li><a href="#">Alta</a></li>
              <li><a routerLink="/antecedente">Antecedentes</a></li>
            </ul>
          </li>
        </ul></li>
      <li><a href="#">Informes</a>
        <ul>
          <li><a href="#">Pacientes</a></li>
          <li><a href="#">Antecedentes</a></li>
          <li><a href="#">Imagenes</a></li>
          <li><a href="#">Turnos</a>
            <ul>
              <li><a href="#">Turnos no Disponibles</a></li>
              <li><a href="#">Turnos Temp</a></li>								
            </ul>						
          </li>
          <li><a href="#">Tipos Imagenes</a></li>
        </ul></li>
      <li><a href="#">Cerrar Sesion</a></li>
    </ul>
  </nav>

</header>
</body>


<router-outlet />
