<h2 mat-dialog-title>{{rellenado}} paciente</h2>
<form [formGroup]="form" (ngSubmit)="agregarEditarPaciente()">
  <mat-dialog-content>
    <div class="row">
      <div class="col">
        <mat-form-field appearance="fill">
          <mat-label>Nombre</mat-label>
          <input matInput placeholder="Ingrese nombre" formControlName="nombre"   >
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field appearance="fill">
          <mat-label>Apellido</mat-label>
          <input matInput placeholder="Ingrese apellido" formControlName="apellido">
        </mat-form-field>
      </div>
    </div>
  
    <mat-form-field appearance="fill">
      <mat-label>Genero</mat-label>
      <input matInput placeholder="Ingrese genero" formControlName="genero">
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Direccion</mat-label>
      <input matInput placeholder="Ingrese direccion" formControlName="direccion">
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Telefono</mat-label>
      <input matInput placeholder="Ingrese telefono" formControlName="telefono">
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Ingrese email" formControlName="email">
    </mat-form-field>
  
  </mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button type="button" (click)="onNoClick()">Cancelar</button>
  <button mat-button type="submit" cdkFocusInitial>Aceptar</button>
</mat-dialog-actions>
</form>