<div class="ListaTurno">
  <div>
    <h1>Turnos</h1>
  </div>
  <div>
    <table>
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Hora</th>
          <th>Paciente</th>
          <th>Estado</th>
          <th>Precio</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let turno of turnos">
          <td>{{turno.fecha}}</td>
          <td>{{turno.hora}}</td>
          <td>{{turno.paciente?.nombre ?? 'Desconocido'}}</td>
          <td>{{turno.entrega}}</td>
          <td *ngIf="turno.precio == 0">No establecido</td>
          <td *ngIf="turno.precio != 0">{{turno.precio}}</td>         
          <td>
            <button  id="editar">
              <a [routerLink]="['/turno-paciete',turno.id]" id="texto">Editar</a>
            </button>
            <button (click)="eliminar(turno)" id="eliminar">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
</div>