<p>turno-paciete works!</p>
<div class="ListaTurno">
  <div>
    <h1>Turnos</h1>
  </div>
  <div>
    <table>
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Hora</th>
          <th>Paciente</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let turno of turnos">
          <td>{{turno.fecyhora.toISOString().split('T')[0]}}</td>
          <td>{{turno.fecyhora.toTimeString().split(' ')[0]}}</td>
          <td>{{turno.paciente?.nombre ?? 'Desconocido'}}</td>
          <td>
            <button (click)="editar(turno)">Editar</button>
            <button (click)="eliminar(turno)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
</div>